Repository wwmoraes/site: changes, and which lefthook commands are due for each by the changed paths.
All: checktask, vale, fix, tidy, favicon, diagrams, exif, radar

checktask:
  priority: 1
  run: task -a -j > /dev/null

vale:
  priority: 2
  run: task vale -- ${ARGS} {staged_files} || true
  env:
    ARGS: ''

fix:
  priority: 1
  run: task fix
  stage_fixed: true

tidy:
  priority: 40
  run: go mod tidy
  stage_fixed: true

favicon:
  priority: 90
  run: task generate:favicon
  stage_fixed: true

diagrams:
  priority: 90
  run: task generate:diagrams
  stage_fixed: true

exif:
  priority: 90
  run: task generate:images
  stage_fixed: true

radar:
  priority: 90
  run: task generate:radar
  stage_fixed: true

refactor: remove HTML-inlined CSP policy
  config/_default/hugo.toml
  config/_default/params.toml
  config/_default/server.toml
  config/development/hugo.toml
  config/development/server.toml
  layouts/vcard/page.html
  static/_headers
  themes/yocto/hugo.toml
  themes/yocto/layouts/_partials/head/content-security-policy.html
  themes/yocto/layouts/_partials/head/seo.html
  themes/yocto/layouts/baseof.html
Due: vale

refactor: managed headers and redirects
  .make/hugo.mk
  Makefile
  config/_default/headers/params.toml
  config/_default/headers/server.toml
  config/_default/hugo.toml
  config/_default/redirects/params.toml
  config/_default/redirects/server.toml
  config/_default/server.toml
  config/development/headers/params.toml
  config/development/headers/server.toml
  layouts/all.cloudflare-headers
  layouts/all.cloudflare-redirects
  shell.nix
  static/_headers
  static/_redirects
Due: none

build: split make targets
  .make/hugo.mk
  .meta/make/editorconfig.mk
  .meta/make/exif.mk
  .meta/make/git.mk
  .meta/make/golang.mk
  .meta/make/hugo.mk
  .meta/make/meta.mk
  .meta/make/stylelint.mk
  .meta/make/vale.mk
  .meta/make/vcard.mk
  Makefile
  config/_default/hugo.toml
Due: none

refactor: use git as lastmod source
  cmd/site/content/content.go
  cmd/site/content/touch/touch.go
  config/_default/hugo.toml
  content/_index.md
  content/posts/are-you-a-devops-engineer/index.md
  content/posts/automation-is-not-just-a-word/index.md
  content/posts/golang-integration-test/index.md
  content/posts/kiss-principle-is-not-that-simple/index.md
  content/posts/lua-metatables-introduction/index.md
  content/posts/scripts-do-not-scale/index.md
  content/posts/the-flintstones-automation/index.md
  content/redirects/alertmanager-telegram-bot.md
  content/redirects/dot.md
  content/vcard.md
Due: vale, fix, tidy

chore: sayonara stylelint
  .gitignore
  .meta/make/stylelint.mk
  .meta/nix/packages/stylelint/.gitignore
  .meta/nix/packages/stylelint/default.nix
  .meta/nix/packages/stylelint/package.json
  .meta/nix/packages/stylelint/yarn.lock
  .meta/nix/packages/stylelint/yarn.nix
  .meta/nix/packages/update-stylelint/default.nix
  .meta/nix/packages/update-stylelint/script.bash
  .stylelintignore
  .stylelintrc.yaml
  CODEOWNERS
  flake.nix
  shell.nix
  treefmt.nix
Due: none

chore: drop mdformat
  treefmt.nix
Due: none

chore: cleanup flake
  flake.nix
Due: none

chore: update menus
  config/_default/menus.toml
  content/about.md
Due: vale

ci: ignore direnv
  .editorconfig
Due: none

ci: drop kodiak
  .github/.kodiak.toml
  .github/autoapproval.yaml
  .github/merge-me.yaml
Due: none

ci: fix commit check
  .meta/make/git.mk
Due: none

ci: fix deployment
  .envrc
  .github/workflows/build.yaml
  .github/workflows/deployment.yaml
  .github/workflows/integration.yaml
  justfile
  shell.nix
Due: none

ci: update actions
  .github/actions/nix/action.yaml
  .github/workflows/build.yaml
  .github/workflows/deployment.yaml
  .github/workflows/integration.yaml
Due: none

refactor: move all images to sub-dir
  themes/yocto/assets/images/avatar.jpg
  themes/yocto/layouts/_markup/render-image.html
  themes/yocto/layouts/_partials/head/seo.html
Due: vale

chore: use relative permalinks for portability
  themes/yocto/layouts/_partials/head/seo.html
Due: vale

build: add zip dist support
  .meta/make/hugo.mk
Due: none

chore: remove gifs
  config/_default/headers/params.toml
  config/_default/headers/server.toml
  content/posts/are-you-a-devops-engineer/index.md
  content/posts/scripts-do-not-scale/index.md
  themes/pico/hugo.yaml
Due: vale

chore: bye cloudflare
  .env
  .env.secrets
  cmd/site/cloudflare/cloudflare.go
  cmd/site/cloudflare/tidy/tidy.go
  cmd/site/main.go
  flake.lock
  flake.nix
  go.mod
  go.sum
  justfile
  shell.nix
Due: fix, tidy

ci: deploy to netlify
  .github/workflows/deployment.yaml
  justfile
Due: none

style: apply fixes
  .github/autoapproval.yaml
Due: none

ci: remove npm dependency checks
  .github/dependabot.yml
Due: none

ci: verbose clean repo assertion
  .github/workflows/integration.yaml
  shell.nix
Due: none

chore: update dependencies
  .github/workflows/build.yaml
  .github/workflows/deployment.yaml
  .github/workflows/integration.yaml
  go.mod
  go.sum
Due: tidy

Path conditions:
  checktask: any of: Taskfile.yaml
  vale: any of: {.vale.ini,**/*.html,**/*.md}, but not: (\.styles)/.*
  fix: any of: **/*.go
  tidy: any of: {**/*.go,go.mod}
  favicon: any of: assets/images/brand/favicon.svg
  diagrams: any of: content/**/*.puml
  exif: any of: {archetypes,assets,content}/**/*.{png,jpg}.json
  radar: any of: {content/radar/*.md,content/radar/radar.svg.tmpl}, but not: ^content/radar/_index\.md$
