Repository wwmoraes/site: changes, and which lefthook commands are due for each by the changed paths.
All: checktask, vale, fix, tidy, favicon, diagrams, exif, radar

.lefthook.yaml:

# yaml-language-server: $schema=.vscode/lefthook.schema.json
assert_lefthook_installed: true
commit-msg:
  commands:
    commitlint:
      run: grep -q "^fixup! " "{1}" || commitlint lint --message "{1}"
    trailers:
      run: git interpret-trailers --in-place --trailer "sign" --trim-empty "{1}"
pre-commit:
  piped: true
  commands:
    lint:
      priority: 1
      run: task lint
      exclude: .*\.(jpg|png|ico)$
    ## TODO check case conflict?
    ## TODO check YAML?
    ## TODO check TOML?
    ## TODO check trailing whitespace?
    checktask:
      priority: 1
      run: task -a -j > /dev/null
      glob: Taskfile.yaml
    vale:
      priority: 2
      run: task vale -- ${ARGS} {staged_files} || true
      env:
        ARGS: ""
      glob: "{.vale.ini,**/*.html,**/*.md}"
      exclude: (\.styles)/.*
    ## TODO XML/HTML lint
    fix:
      priority: 1
      run: task fix
      glob: "**/*.go"
      stage_fixed: true
    tidy:
      priority: 40
      run: go mod tidy
      glob: "{**/*.go,go.mod}"
      stage_fixed: true
    favicon:
      priority: 90
      run: task generate:favicon
      glob: assets/images/brand/favicon.svg
      stage_fixed: true
    diagrams:
      priority: 90
      run: task generate:diagrams
      glob: content/**/*.puml
      stage_fixed: true
    exif:
      priority: 90
      run: task generate:images
      glob: "{archetypes,assets,content}/**/*.{png,jpg}.json"
      stage_fixed: true
    radar:
      priority: 90
      run: task generate:radar
      glob: "{content/radar/*.md,content/radar/radar.svg.tmpl}"
      stage_fixed: true
      exclude: ^content/radar/_index\.md$
pre-push:
  piped: true
  commands:
    build:
      priority: 50
      run: task build
      glob: "{**/*.go,go.mod,go.sum}"
    test:
      priority: 50
      run: go test -race -failfast ./...
      glob: "{**/*.go,go.mod,go.sum}"
    public:
      priority: 100
      run: task generate:site
      glob: "{assets/*,config/*,content/*,data/*,i18n/*,layouts/*,static/*,themes/*/assets/*,themes/*/data/*,themes/*/i18n/*,themes/*/layouts/*,themes/*/static/*,themes/*/hugo.*}"
skip_output:
- meta
# - summary
# - skips

refactor(cmd): touch now updates lastmod
  cmd/site/content/touch/touch.go
Due: fix, tidy

feat(m10d): add support for zotero
  config/_default/hugo.yaml
  themes/m10d/data/m10d/icons/simple.json
  themes/m10d/data/m10d/social.json
Due: none

chore: update now and about pages
  content/about.md
  content/now.md
Due: vale

chore(m10d): remove unused simple icons
  themes/m10d/data/m10d/icons/simple.json
  themes/m10d/data/m10d/social.json
Due: none

chore: cleanup vscode and meta files
  .editorconfig
  .github/workflows/integration.yaml
  .helix/languages.toml
  .lefthook.yaml
  .meta/schemas/exif.schema.json
  .meta/schemas/hugo.schema.json
  .meta/schemas/lefthook.schema.json
  .vscode/extensions.json
  .vscode/hugo.code-snippets
  .vscode/launch.json
  .vscode/settings.json
  .vscode/tasks.json
  config/_default/hugo.yaml
  config/_default/languages.yaml
  config/_default/menus.yaml
  config/_default/server.yaml
  config/_default/taxonomies.yaml
  config/development/hugo.yaml
  config/development/params.yaml
  config/production/hugo.yaml
  config/staging/config.yaml
  config/staging/params.yaml
  frontmatter.json
Due: none

chore: update response headers
  config/_default/server.yaml
  static/_headers
Due: none

chore: fix task output
  Taskfile.yaml
Due: checktask

chore: reordered redirects to increase performance
  static/_redirects
Due: none

chore: update go dependencies
  go.mod
  go.sum
Due: tidy

chore: adjusted table of contents visual
  themes/pico/assets/css/_toc.scss
Due: none

chore: accessibility tweaks
  themes/pico/assets/css/_toc.scss
  themes/pico/assets/css/pico/_index.scss
  themes/pico/layouts/_default/list.html
  themes/pico/layouts/partials/toc.html
Due: vale

chore: drop dead code and comments
  assets/css/_variables.scss
  themes/pico/assets/css/_index.scss
  themes/pico/assets/css/_toc.scss
  themes/pico/assets/css/pico/_index.scss
Due: none

chore: update theme
  assets/css/_variables.scss
  themes/pico/assets/css/_index.scss
Due: none

chore: update referrer policy
  config/_default/server.yaml
  static/_headers
Due: none

chore: update internal style samples
  content/internal/custom.md
  content/internal/menu.html
  content/internal/style.html
  themes/pico/assets/css/_index.scss
  themes/pico/assets/css/_toc.scss
  themes/pico/assets/css/pico/_index.scss
  themes/pico/assets/css/pico/_menu.scss
Due: vale

chore: replace go-commitlint
  .lefthook.yaml
  Taskfile.yaml
  nix/sources.json
  shell.nix
Due: checktask

chore: update hook names
  .lefthook.yaml
Due: none

chore: menu style sample and updates
  content/internal/menu.html
  themes/pico/assets/css/_toggle.scss
Due: vale

chore: redirect old /now
  static/_redirects
Due: none

chore: vcard noindex
  layouts/page/vcard.html
Due: vale

chore: set noindex on all non-production pages
  themes/pico/layouts/partials/head/meta.html
Due: vale

feat: unlisted some pages from sitemap
  config/_default/params.yaml
  content/categories/todo/_index.md
  content/tags/todo/_index.md
  content/vcard.md
  themes/pico/layouts/sitemap.xml
Due: vale

chore: trailing /now/ redirect
  static/_redirects
Due: none

chore: update node packages
  package.json
  shell.nix
  yarn.lock
Due: none

ci: update direnv-nix-action
  .github/workflows/build.yaml
  .github/workflows/integration.yaml
Due: none

chore: preload stylesheet
  themes/pico/layouts/partials/head/styles.html
Due: vale

refactor: page description
  themes/pico/layouts/partials/head/meta.html
Due: vale

refactor: drop HTML referrer policy
  themes/pico/layouts/partials/head/meta.html
Due: vale

refactor: PGP WKD
  .editorconfig
  Taskfile.yaml
  config/_default/params.yaml
  static/.well-known/openpgpkey/artero.dev/hu/3y1xhnz6n4nz5izio6i8aonr4j1n4a85
  static/.well-known/openpgpkey/artero.dev/hu/dj3498u4hyyarh35rkjfnghbjxug6b19
  static/.well-known/openpgpkey/artero.dev/hu/e5a4bxki1ktx1jncwco5nkcofedmkxod
  static/.well-known/openpgpkey/artero.dev/hu/t5s8ztdbon8yzntexy6oz5y48etqsnbb
  static/.well-known/openpgpkey/policy
  static/.well-known/security.txt
  static/_headers
  themes/pico/layouts/partials/head/meta.html
Due: checktask, vale

chore: cleanup dead code
  Taskfile.yaml
  cmd/site/data/data.go
  cmd/site/data/update/update.go
  cmd/site/main.go
  go.mod
  go.sum
  internal/adapters/datapipe.go
  internal/adapters/datasource.go
  internal/adapters/datastore.go
  internal/drivers/github/github.go
  internal/drivers/github/handler.go
  internal/drivers/github/nodes.go
  internal/drivers/github/recentcontributions.go
  internal/drivers/github/recentgists.go
  internal/drivers/github/recentpullrequests.go
  internal/drivers/github/recentreleases.go
  internal/drivers/github/recentrepositories.go
  internal/drivers/github/recentsponsors.go
  internal/drivers/github/recentstars.go
  internal/drivers/github/username.go
  internal/drivers/githubsource.go
  internal/drivers/goodreadscollector.go
  internal/drivers/goodreadssource.go
  internal/drivers/hugodatastore.go
  internal/entities/parameters.go
  internal/entities/siteconfig.go
  internal/usecases/datahandler.go
  internal/usecases/dataupdater.go
  pkg/openlibrary/data.go
Due: checktask, fix, tidy

ci: update deployment flow image
  .github/workflows/deployment.yaml
Due: none

chore: update go modules
  go.mod
  go.sum
Due: tidy

ci: add provenance for site binary build
  .github/workflows/build.yaml
Due: none

chore: update pgp data
  .editorconfig
  .typos.toml
  Taskfile.yaml
  config/_default/params.yaml
  static/.well-known/openpgpkey/artero.dev/hu/3y1xhnz6n4nz5izio6i8aonr4j1n4a85
  static/.well-known/openpgpkey/artero.dev/hu/dj3498u4hyyarh35rkjfnghbjxug6b19
  static/.well-known/openpgpkey/artero.dev/hu/e5a4bxki1ktx1jncwco5nkcofedmkxod
  static/.well-known/openpgpkey/artero.dev/hu/t5s8ztdbon8yzntexy6oz5y48etqsnbb
  static/pgp.asc
Due: checktask

chore: update pgp keys
  static/.well-known/openpgpkey/artero.dev/hu/3y1xhnz6n4nz5izio6i8aonr4j1n4a85
  static/.well-known/openpgpkey/artero.dev/hu/dj3498u4hyyarh35rkjfnghbjxug6b19
  static/.well-known/openpgpkey/artero.dev/hu/e5a4bxki1ktx1jncwco5nkcofedmkxod
  static/.well-known/openpgpkey/artero.dev/hu/t5s8ztdbon8yzntexy6oz5y48etqsnbb
  static/pgp.asc
Due: none

refactor: vcard generation
  .env
  Taskfile.yaml
Due: checktask

chore: cleanup environment and tasks
  .env
  Taskfile.yaml
  shell.nix
Due: checktask

build: update dependencies
  .gitignore
  go.mod
  go.sum
  shell.nix
  yarn.lock
Due: tidy

build: update dependencies
  .typos.toml
  go.mod
  go.sum
  package.json
  shell.nix
  yarn.lock
Due: tidy
