Repository wwmoraes/site: changes, and which lefthook commands are due for each by the changed paths.
All: checktask, vale, stylelint, gofumpt, golangci-lint, tidy, favicon, diagrams, exif, radar

checktask:
  priority: 1
  run: task -a -j > /dev/null

vale:
  priority: 2
  run: task vale -- {staged_files}

stylelint:
  run: stylelint -f compact {staged_files}

gofumpt:
  priority: 1
  run: gofumpt -l -w {staged_files}
  stage_fixed: true

golangci-lint:
  priority: 1
  run: golangci-lint run

tidy:
  priority: 40
  run: go mod tidy
  stage_fixed: true

favicon:
  priority: 90
  run: task generate:favicon
  stage_fixed: true

diagrams:
  priority: 90
  run: task generate:diagrams
  stage_fixed: true

exif:
  priority: 90
  run: task generate:exif
  stage_fixed: true

radar:
  priority: 90
  run: task generate:radar
  stage_fixed: true

chore: cleanup pre-commit leftovers
  .github/.kodiak.toml
  .github/labeler.yml
Due: none

chore: updated site data
  data/github/recents/contributions.json
  data/github/recents/pullRequests.json
  data/github/recents/repositories.json
  data/github/recents/starred.json
Due: none

chore: updated readme
  README.md
Due: none

docs: added missing markdown files
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  SECURITY.md
Due: none

chore: updated image metadata
  archetypes/default/featured-image.jpg
  assets/images/avatar.jpg
  content/posts/are-you-a-devops-engineer/devops.jpg
  content/posts/automatic-status-changes-on-eso/featured-image.jpg
  content/posts/kiss-principle-is-not-that-simple/featured-image.jpg
  content/posts/lua-metatables-introduction/featured-image.jpg
  content/posts/scripts-do-not-scale/featured-image.jpg
Due: none

chore: cleanup cspell comments
  .golangci.yaml
  .stylelintrc.yaml
  CODEOWNERS
  assets/css/_custom.scss
  config/_default/hugo.yaml
  config/_default/params.yaml
  content/posts/golang-integration-test/index.md
  content/radar/radar.svg
  content/radar/radar.svg.tmpl
  themes/m10d/assets/css/_defaults.scss
  themes/m10d/layouts/_default/baseof.html
  themes/m10d/layouts/partials/picture.html
Due: vale, stylelint, radar

ci: removed unneeded golang setup
  .github/workflows/build.yaml
Due: none

chore: added updated golangci-lint schema reference
  .golangci.yaml
Due: none

chore: updated editor config settings
  .editorconfig
Due: none

chore: more editor config touches
  .editorconfig
  themes/m10d/layouts/_default/baseof.html
  themes/m10d/layouts/partials/picture.html
Due: vale

chore: drop GH render hack
  TODO.md
  content/posts/automation-is-not-just-a-word/aggregate-availability.svg
  content/posts/automation-is-not-just-a-word/aggregate-availability.tex
  content/posts/automation-is-not-just-a-word/featured-image.jpg
  content/posts/automation-is-not-just-a-word/featured-image.jpg.json
  content/posts/automation-is-not-just-a-word/index.md
  content/posts/automation-is-not-just-a-word/time-based-availability.svg
  content/posts/automation-is-not-just-a-word/time-based-availability.tex
Due: vale, exif

build: fixed exif hook
  .lefthook.yaml
Due: none

chore: updated nix shell settings
  .envrc
  .vscode/settings.json
  flake.lock
  flake.nix
  shell.nix
Due: none

chore: updated go-related tasks and hooks
  .golangci.yaml
  .lefthook.yaml
  Taskfile.yaml
Due: checktask

ci: drop flakes, use plain nix
  .github/workflows/build.yaml
  .github/workflows/integration.yaml
  .github/workflows/update.yaml
Due: none

chore: added ACAO, CORP and STS sec headers
  static/_headers
Due: none

chore: fix stylelint for now
  package.json
  shell.nix
  yarn.lock
Due: none

chore: updated git hooks
  .lefthook.yaml
  shell.nix
Due: none

ci: dropping reviewdog
  .lefthook-ci.yaml
  .lefthook-system.yaml
  Taskfile.yaml
  shell.nix
Due: checktask

chore: merge linters into a single task
  .lefthook.yaml
  Taskfile.yaml
Due: checktask

chore: hardcode race detection on go tests
  .lefthook.yaml
  Taskfile.yaml
Due: checktask

style: added markdown linter
  .markdownlintignore
  .vscode/settings.json
  CODE_OF_CONDUCT.md
  Taskfile.yaml
  content/about.md
  content/posts/are-you-a-devops-engineer/index.md
  content/posts/kiss-principle-is-not-that-simple/index.md
  content/posts/lua-metatables-introduction/index.md
  shell.nix
Due: checktask, vale

chore: added gopium package
  shell.nix
Due: none

chore: updated environment settings
  .envrc
  .vscode/settings.json
Due: none

chore: updated dependencies
  go.mod
  go.sum
  shell.nix
Due: tidy

build: added ldflags and other flags for build
  Taskfile.yaml
Due: checktask

ci: fix triggers
  .github/workflows/build.yaml
  .github/workflows/integration.yaml
Due: none

chore: cleanup flake leftovers
  .github/workflows/build.yaml
  CODEOWNERS
  TODO.md
Due: none

chore: pin package manager for node deps
  package.json
Due: none

refactor: dropping deps on gohugo/hugo
  .golangci.yaml
  cmd/site/content/publish/publish.go
  cmd/site/content/touch/touch.go
  cmd/site/radar/blip/create/create.go
  cmd/site/radar/blip/update/update.go
  cmd/site/radar/update/blip.go
  go.mod
  go.sum
  internal/blip/page.go
  internal/blip/radar.go
  pkg/hugo/hugo.go
  pkg/hugo/sites.go
  pkg/hugolite/crypto.go
  pkg/hugolite/frontmatter.go
  pkg/hugolite/parser.go
Due: gofumpt, golangci-lint, tidy

chore: isolate nix package contexts
  shell.nix
Due: none

ci: added CodeQL flow
  .github/workflows/codeql.yaml
Due: none

style: updated vale settings and vocabularies
  .gitignore
  .styles/config/vocabularies/Blog/accept.txt
  .styles/config/vocabularies/Companies/accept.txt
  .styles/config/vocabularies/Names/accept.txt
  .vale.ini
  .vscode/settings.json
  SECURITY.md
  content/now.md
  content/posts/are-you-a-devops-engineer/index.md
  content/posts/automation-is-not-just-a-word/index.md
  content/posts/eso-addon-and-lua-fun.md
  content/posts/golang-integration-test/index.md
  content/posts/kiss-principle-is-not-that-simple/index.md
  content/posts/lua-metatables-introduction/index.md
  content/posts/lua-methods/index.md
  content/posts/scripts-do-not-scale/index.md
  content/radar/_index.md
  content/radar/architecture-decision-records.md
  content/radar/azure-devops.md
  content/radar/cloud-solution-architect.md
  content/radar/java.md
  content/redirects/alertmanager-telegram-bot.md
  content/redirects/dot.md
Due: vale, radar

chore: reinstate lefthook:install in config task
  Taskfile.yaml
Due: checktask

ci: task check with extra CLI args
  .github/workflows/integration.yaml
  Taskfile.yaml
Due: checktask

ci: verbose go mod download
  .github/workflows/build.yaml
  .github/workflows/codeql.yaml
Due: none

ci: use external go setup action for cache
  .github/workflows/build.yaml
  .github/workflows/codeql.yaml
Due: none

chore: remove koji leftover
  .koji.toml
Due: none

chore: updated vscode settings
  .vscode/settings.json
Due: none

chore: updated codeowners
  CODEOWNERS
Due: none

Path conditions:
  checktask: any of: Taskfile.yaml
  vale: any of: {.vale.ini,**/*.html,**/*.md}, but not: (\.styles)/.*
  stylelint: any of: **/*.{sass,scss}
  gofumpt: any of: **/*.go
  golangci-lint: any of: **/*.go
  tidy: any of: {**/*.go,go.mod}
  favicon: any of: assets/images/brand/favicon.svg
  diagrams: any of: content/**/*.puml
  exif: any of: {archetypes,assets,content}/**/*.{png,jpg}.json
  radar: any of: {content/radar/*.md,content/radar/radar.svg.tmpl}, but not: ^content/radar/_index\.md$
