Repository wwmoraes/site: changes, and which lefthook commands are due for each by the changed paths.
All: vale-sync, checkmake, vale, stylelint, gofumpt, golangci-lint, tidy, build, test, favicon, diagrams, exif, radar

.lefthook.yaml:

# yaml-language-server: $schema=.vscode/lefthook.schema.json
assert_lefthook_installed: true
prepare-commit-msg:
  commands:
    koji:
      run: koji --hook
commit-msg:
  commands:
    trailers:
      run: git interpret-trailers --trailer "sign" --trim-empty "{1}" | sponge "{1}"
pre-commit:
  piped: true
  commands:
    vale-sync: &vale-sync
      priority: 1
      run: make .styles
      glob: .vale.ini
    typos:
      priority: 1
      run: typos --force-exclude {staged_files}
      exclude: .*\.(jpg|png)$
    ## TODO check case conflict?
    ## TODO check YAML?
    ## TODO check TOML?
    ## TODO check trailing whitespace?
    checkmake:
      priority: 1
      run: checkmake {staged_files}
      glob: Makefile
    editorconfig-checker:
      priority: 1
      run: editorconfig-checker {staged_files}
      exclude: .*\.(jpg|png)$
    vale:
      priority: 2
      run: vale {staged_files}
      glob: "**/*.{html,md}"
      exclude: (\.styles)/.*
    stylelint:
      run: stylelint -f compact {staged_files}
      glob: "**/*.{sass,scss}"
    ## TODO XML/HTML lint
    gofumpt:
      priority: 1
      run: gofumpt -l -w {staged_files}
      glob: "**/*.go"
      stage_fixed: true
    golangci-lint: &golangci-lint
      priority: 1
      run: golangci-lint run
      glob: "**/*.go"
    tidy:
      priority: 40
      run: go mod tidy
      glob: "{**/*.go,go.mod}"
      stage_fixed: true
    build:
      priority: 50
      run: go build -race ./...
      glob: "{**/*.go,go.mod,go.sum}"
    test:
      priority: 50
      run: go test -race -failfast ./...
      glob: "{**/*.go,go.mod,go.sum}"
    favicon:
      priority: 90
      run: make favicon
      glob: assets/images/brand/favicon.svg
      stage_fixed: true
    diagrams:
      priority: 90
      run: make diagrams
      glob: content/**/*.puml
      stage_fixed: true
    exif:
      priority: 90
      run: make diagrams
      glob: "{archetypes,assets,content}/**/*.{png,jpg}.json"
      stage_fixed: true
    radar:
      priority: 90
      run: make radar
      glob: "{content/radar/*.md,content/radar/radar.svg.tmpl}"
      stage_fixed: true
      exclude: ^content/radar/_index\.md$
pre-push:
  piped: true
  commands:
    vale-sync: *vale-sync
    typos:
      priority: 1
      run: typos --force-exclude {push_files}
      exclude: .*\.(jpg|png)$
    checkmake:
      priority: 1
      run: checkmake {push_files}
      glob: Makefile
    editorconfig-checker:
      priority: 1
      run: editorconfig-checker {push_files}
      exclude: .*\.(jpg|png)$
    vale:
      priority: 2
      run: vale {push_files}
      glob: "**/*.{html,md}"
      exclude: (\.styles)/.*
    stylelint:
      run: stylelint -f compact {push_files}
      glob: "**/*.{sass,scss}"
    gofumpt:
      priority: 1
      run: gofumpt -l -w {push_files}
      glob: "**/*.go"
      stage_fixed: true
    golangci-lint: *golangci-lint
skip_output:
- meta
# - summary
# - skips

feat: added koji config and pre-commit-msg hook
  .github/workflows/integration.yaml
  .koji.toml
  .lefthook.yaml
Due: none

ci: use nix for everything 🚀
  .github/workflows/build.yaml
  .github/workflows/deployment.yaml
  .github/workflows/integration.yaml
  .lefthook-ci.yaml
  .lefthook.yaml
  .make/lefthook.mk
  .make/spell.mk
  CODEOWNERS
  flake.nix
  shell.nix
Due: none

chore: updated site data
  data/github/recents/pullRequests.json
Due: none

chore: improved make change detection to use on hooks
  .lefthook.yaml
  .make/blip.mk
  .make/commands.mk
  .make/data.mk
  .make/exif.mk
  .make/favicon.mk
  .make/hugo.mk
  .make/radar.mk
  .make/site.mk
  Makefile
Due: checkmake

chore: updated git hooks
  .lefthook.yaml
  .make/lefthook.mk
Due: none

ci: deploy after integration
  .github/workflows/deployment.yaml
  .lefthook.yaml
Due: none

chore: fix prepare-commit-msg hook
  .lefthook.yaml
Due: none

ci: added check on integration to halt with local changes
  .github/workflows/integration.yaml
Due: none

ci: deployment run after integration
  .github/workflows/deployment.yaml
Due: none

ci: fix binary not found for some GHA mystical reason
  .github/workflows/update.yaml
Due: none

ci: always run integration and build on PRs
  .github/workflows/build.yaml
  .github/workflows/integration.yaml
Due: none

ci: PR triggers on the dual of the push conditions
  .github/workflows/build.yaml
  .github/workflows/integration.yaml
Due: none

ci: bot label site data updates for auto-merge
  .github/labeler.yml
Due: none

chore: updated site data (manually)
  data/github/recents/pullRequests.json
Due: none

chore: added redirect for moved career tag to category
  static/_redirects
Due: none

ci: change nix cache position to reduce storage usage
  .github/workflows/build.yaml
  .github/workflows/integration.yaml
  .github/workflows/update.yaml
Due: none

refactor: sayonara GNU Make, welcome Task
  .codeclimate.yml
  .github/workflows/integration.yaml
  .lefthook-ci.yaml
  .lefthook.yaml
  .make/commands.mk
  .make/data.mk
  .make/exif.mk
  .make/favicon.mk
  .make/golang.mk
  .make/hugo.mk
  .make/lefthook.mk
  .make/plantuml.mk
  .make/radar.mk
  .make/spell.mk
  .task/.gitignore
  CODEOWNERS
  Makefile
  Taskfile.yaml
  shell.nix
Due: checkmake

chore: refactor lefthook overlays to support CLI args
  .lefthook-ci.yaml
  .lefthook-system.yaml
  .lefthook.yaml
Due: none

chore: added go's commitlint to nix shell
  shell.nix
Due: none

chore: cleanup nix files
  flake.nix
  shell.nix
Due: none

style: prose lint fixes
  .lefthook.yaml
  content/posts/kiss-principle-is-not-that-simple/index.md
Due: vale

refactor: added exiftool native replacement
  Taskfile.yaml
  cmd/site/image/image.go
  cmd/site/image/inspect/inspect.go
  cmd/site/image/update/tags.go
  cmd/site/image/update/update.go
  cmd/site/main.go
  go.mod
  go.sum
  pkg/exifer/exifer.go
  pkg/exifer/io.go
  pkg/exifer/media.go
  pkg/functional/result.go
  shell.nix
Due: gofumpt, golangci-lint, tidy, build, test

chore: use runtime CPU count for channel buffer size
  cmd/site/data/update/update.go
Due: gofumpt, golangci-lint, tidy, build, test

refactor: use functional.Result instead of local version
  cmd/site/radar/update/blip.go
  cmd/site/radar/update/result.go
Due: gofumpt, golangci-lint, tidy, build, test

chore: updated go to 1.22
  .golangci.yaml
  go.mod
Due: tidy, build, test

chore: updated golangci settings
  .golangci.yaml
Due: none

chore: linter gomnd renamed to mnd
  cmd/site/image/inspect/inspect.go
  cmd/site/radar/update/update.go
  cmd/site/vcard/vcard.go
  internal/blip/radar.go
  pkg/openlibrary/data.go
Due: gofumpt, golangci-lint, tidy, build, test

chore: fixed build task
  Taskfile.yaml
Due: none

chore: manual data update
  data/github/recents/contributions.json
  data/github/recents/pullRequests.json
Due: none

chore: updated image metadata
  content/posts/lua-metatables-introduction/table-index.png
  content/posts/lua-metatables-introduction/table-meta-index.png
  content/posts/the-flintstones-automation/featured-image.jpg
  content/posts/the-flintstones-automation/monitored-flow-1.png
  content/posts/the-flintstones-automation/monitored-flow-2.png
Due: none

chore: disabled CC fixme
  .codeclimate.yml
Due: none

chore: disabled CC semgrep
  .codeclimate.yml
Due: none

refactor: removing all annoying SAST tools
  .codeclimate.yml
  .github/workflows/integration.yaml
  .gitignore
  .golangci.yaml
  sonar-project.properties
Due: none

ci: run task configure with nix
  .github/workflows/integration.yaml
Due: none

chore: updated nixpkgs version
  TODO.md
  flake.lock
  shell.nix
Due: none

ci: use default devshell to build
  .github/workflows/build.yaml
Due: none

refactor: use .sarif for SARIF reports
  .github/workflows/integration.yaml
  .gitignore
  .golangci.yaml
Due: none
