Repository wwmoraes/site: changes, and which pre-commit hooks are due for each by the changed paths.
All: vale-sync, vale, favicon, diagrams, exif, radar

vale-sync:
  name: sync vale styles
  entry: vale sync
  language: system
  pass_filenames: false

vale:
  name: spell check
  entry: vale
  language: system
  pass_filenames: true

favicon:
  name: Update favicon
  entry: make favicon
  language: system
  pass_filenames: false

diagrams:
  name: Update diagrams
  entry: make diagrams
  language: system
  pass_filenames: false

exif:
  name: Update EXIF metadata
  entry: make exif
  language: system
  pass_filenames: false

radar:
  name: Update radar
  entry: make radar
  language: system
  pass_filenames: false

feat: add ActivityPub redirect
  static/_redirects
Due: none

style: update typos and nix fmt settings
  .typos.toml
  treefmt.nix
Due: none

refactor: move stylelint to its own nix package
  .editorconfig
  .gitignore
  .make/css.mk
  .meta/pkgs/stylelint/.gitignore
  .meta/pkgs/stylelint/default.nix
  .meta/pkgs/stylelint/package.json
  .meta/pkgs/stylelint/yarn.lock
  .meta/pkgs/stylelint/yarn.nix
  .stylelintignore
  .stylelintrc.yaml
  flake.nix
  shell.nix
  treefmt.nix
  yarn.lock
Due: none

chore: update golang dependencies
  go.mod
  go.sum
Due: none

chore: invert vale ignores
  .styles/.gitignore
Due: none

ci: deploy using direct upload
  .env
  .env.secrets
  .github/actions/nix/action.yaml
  .github/workflows/build.yaml
  .github/workflows/deployment.yaml
  .github/workflows/integration.yaml
  .gitignore
  .golangci.yaml
  .meta/pkgs/cfhash/default.nix
  .meta/pkgs/cfhash/index.mjs
  .meta/pkgs/cfhash/package.json
  .meta/pkgs/cfhash/yarn.lock
  .meta/pkgs/cfhash/yarn.nix
  Makefile
  cmd/b3sum/main.go
  cmd/site/cloudflare/cloudflare.go
  cmd/site/cloudflare/tidy/tidy.go
  cmd/site/main.go
  flake.nix
  go.mod
  go.sum
  shell.nix
  treefmt.nix
Due: none

refactor: categories and tags
  content/categories/architecture/_index.md
  content/categories/coding/_index.md
  content/categories/devops/_index.md
  content/categories/growth/_index.md
  content/categories/security/_index.md
  content/categories/todo/_index.md
  content/categories/tooling/_index.md
  content/posts/are-you-a-devops-engineer/index.md
  content/posts/automation-is-not-just-a-word/index.md
  content/posts/golang-integration-test/index.md
  content/posts/kiss-principle-is-not-that-simple/index.md
  content/posts/lua-metatables-introduction/index.md
  content/posts/the-flintstones-automation/index.md
  content/tags/advice/_index.md
  content/tags/design/_index.md
  content/tags/golang/_index.md
  content/tags/lua/_index.md
  content/tags/nix/_index.md
  content/tags/opinion/_index.md
  content/tags/practice/_index.md
  content/tags/principle/_index.md
  content/tags/reliability/_index.md
  content/tags/security/_index.md
  content/tags/study/_index.md
  content/tags/talk/_index.md
  content/tags/testing/_index.md
  content/tags/todo/_index.md
  static/_redirects
  themes/pico/layouts/list.html
Due: vale

chore: safe var expansion in direnv
  .envrc
Due: none

feat(posts): the flintstones automation
  .styles/config/vocabularies/Blog/accept.txt
  .styles/config/vocabularies/Companies/accept.txt
  .styles/config/vocabularies/Names/accept.txt
  content/posts/the-flintstones-automation/index.md
Due: vale

chore: tidy dependencies
  go.mod
  go.sum
Due: none

chore: update hooks
  .meta/git/hooks/applypatch-msg.sh
  .meta/git/hooks/commit-msg.sh
  .meta/git/hooks/post-checkout.sh
  .meta/git/hooks/pre-applypatch.sh
  .meta/git/hooks/pre-commit.sh
  .meta/git/hooks/pre-merge-commit.sh
  .meta/git/hooks/pre-push.sh
  .meta/git/hooks/prepare-commit-msg.sh
  cog.toml
Due: none

chore: update build
  .editorconfig
  .envrc
  .golangci.yaml
  .make/css.mk
  .make/exif.mk
  .make/favicon.mk
  .make/git.mk
  .make/golang.mk
  .make/hugo.mk
  .make/pgp.mk
  .make/plantuml.mk
  .make/vale.mk
  .meta/nix/packages/stylelint/.gitignore
  .meta/nix/packages/stylelint/default.nix
  .meta/nix/packages/stylelint/package.json
  .meta/nix/packages/stylelint/yarn.lock
  .meta/nix/packages/stylelint/yarn.nix
  .meta/nix/packages/update-stylelint/default.nix
  .meta/nix/packages/update-stylelint/script.bash
  .meta/pkgs/cfhash/default.nix
  .meta/pkgs/cfhash/index.mjs
  .meta/pkgs/cfhash/package.json
  .meta/pkgs/cfhash/yarn.lock
  .meta/pkgs/cfhash/yarn.nix
  Makefile
  cmd/site/Makefile
  cmd/site/image/update/tags.go
  config/_default/hugo.yaml
  flake.lock
  flake.nix
  justfile
  pkg/openlibrary/details.go
  shell.nix
  static/.pgp.gen.mk
  static/Makefile
Due: none

chore: drop b3sum
  cmd/b3sum/main.go
  go.mod
  go.sum
Due: none

refactor: switch configuration to TOML
  .meta/schemas/exif.schema.json
  .meta/schemas/hugo.schema.json
  config/_default/hugo.toml
  config/_default/hugo.yaml
  config/_default/languages.yaml
  config/_default/markup.yaml
  config/_default/menus.toml
  config/_default/menus.yaml
  config/_default/params.toml
  config/_default/params.yaml
  config/_default/server.yaml
  config/_default/taxonomies.yaml
  config/development/hugo.toml
  config/development/hugo.yaml
  config/development/params.toml
  config/development/params.yaml
  config/development/server.yaml
  config/production/hugo.toml
  config/production/hugo.yaml
  config/staging/config.yaml
  config/staging/hugo.toml
  config/staging/params.toml
  config/staging/params.yaml
  content/about.md
Due: none

chore: revamp content
  .styles/config/vocabularies/Blog/accept.txt
  content/about.md
Due: none

refactor: use D2 for diagrams
  Makefile
  content/posts/lua-metatables-introduction/index.md
  content/posts/lua-metatables-introduction/table-index.d2
  content/posts/lua-metatables-introduction/table-index.png
  content/posts/lua-metatables-introduction/table-index.puml
  content/posts/lua-metatables-introduction/table-index.svg
  content/posts/lua-metatables-introduction/table-meta-index.d2
  content/posts/lua-metatables-introduction/table-meta-index.png
  content/posts/lua-metatables-introduction/table-meta-index.puml
  content/posts/lua-metatables-introduction/table-meta-index.svg
  content/posts/the-flintstones-automation/index.md
  content/posts/the-flintstones-automation/monitored-flow-1.d2
  content/posts/the-flintstones-automation/monitored-flow-1.png
  content/posts/the-flintstones-automation/monitored-flow-1.puml
  content/posts/the-flintstones-automation/monitored-flow-1.svg
  content/posts/the-flintstones-automation/monitored-flow-2.d2
  content/posts/the-flintstones-automation/monitored-flow-2.png
  content/posts/the-flintstones-automation/monitored-flow-2.puml
  content/posts/the-flintstones-automation/monitored-flow-2.svg
  shell.nix
  vars.d2
Due: vale, diagrams

refactor: remove HTML-inlined CSP policy
  config/_default/hugo.toml
  config/_default/params.toml
  config/_default/server.toml
  config/development/hugo.toml
  config/development/server.toml
  layouts/vcard/page.html
  static/_headers
  themes/yocto/hugo.toml
  themes/yocto/layouts/_partials/head/content-security-policy.html
  themes/yocto/layouts/_partials/head/seo.html
  themes/yocto/layouts/baseof.html
Due: none

refactor: managed headers and redirects
  .make/hugo.mk
  Makefile
  config/_default/headers/params.toml
  config/_default/headers/server.toml
  config/_default/hugo.toml
  config/_default/redirects/params.toml
  config/_default/redirects/server.toml
  config/_default/server.toml
  config/development/headers/params.toml
  config/development/headers/server.toml
  layouts/all.cloudflare-headers
  layouts/all.cloudflare-redirects
  shell.nix
  static/_headers
  static/_redirects
Due: none

chore: update build
  .editorconfig
  .envrc
  .github/workflows/deployment.yaml
  .golangci.yaml
  .make/css.mk
  .make/exif.mk
  .make/favicon.mk
  .make/git.mk
  .make/golang.mk
  .make/hugo.mk
  .make/pgp.mk
  .make/plantuml.mk
  .make/vale.mk
  .meta/nix/packages/stylelint/.gitignore
  .meta/nix/packages/stylelint/default.nix
  .meta/nix/packages/stylelint/package.json
  .meta/nix/packages/stylelint/yarn.lock
  .meta/nix/packages/stylelint/yarn.nix
  .meta/nix/packages/update-stylelint/default.nix
  .meta/nix/packages/update-stylelint/script.bash
  .meta/pkgs/cfhash/default.nix
  .meta/pkgs/cfhash/index.mjs
  .meta/pkgs/cfhash/package.json
  .meta/pkgs/cfhash/yarn.lock
  .meta/pkgs/cfhash/yarn.nix
  Makefile
  cmd/site/Makefile
  cmd/site/image/update/tags.go
  config/_default/hugo.yaml
  flake.lock
  flake.nix
  justfile
  pkg/openlibrary/details.go
  shell.nix
  static/.pgp.gen.mk
  static/Makefile
Due: none

refactor: use D2 for diagrams
  .typos.toml
  Makefile
  content/posts/lua-metatables-introduction/index.md
  content/posts/lua-metatables-introduction/table-index.d2
  content/posts/lua-metatables-introduction/table-index.png
  content/posts/lua-metatables-introduction/table-index.puml
  content/posts/lua-metatables-introduction/table-index.svg
  content/posts/lua-metatables-introduction/table-meta-index.d2
  content/posts/lua-metatables-introduction/table-meta-index.png
  content/posts/lua-metatables-introduction/table-meta-index.puml
  content/posts/lua-metatables-introduction/table-meta-index.svg
  content/posts/the-flintstones-automation/index.md
  content/posts/the-flintstones-automation/monitored-flow-1.d2
  content/posts/the-flintstones-automation/monitored-flow-1.png
  content/posts/the-flintstones-automation/monitored-flow-1.puml
  content/posts/the-flintstones-automation/monitored-flow-1.svg
  content/posts/the-flintstones-automation/monitored-flow-2.d2
  content/posts/the-flintstones-automation/monitored-flow-2.png
  content/posts/the-flintstones-automation/monitored-flow-2.puml
  content/posts/the-flintstones-automation/monitored-flow-2.svg
  shell.nix
  vars.d2
Due: vale, diagrams

Path conditions:
  vale-sync: any of: ^\.vale\.ini$
  vale: any of: (?x)^(
  content/.*/.*\.md
)$

  favicon: any of: ^assets/images/favicon\.svg$
  diagrams: any of: (?x)^(
  content/.*/.*\.puml
)$

  exif: any of: (?x)^(
  archetypes/.*/.*\.(png|jpg)\.json|
  assets/.*/.*\.(png|jpg)\.json|
  content/.*/.*\.(png|jpg)\.json
)$

  radar: any of: (?x)^(
  content/radar/(?!_index).*\.md|
  content/radar/radar.svg.tmpl
)$

